#todo-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: lightcyan;
    padding:20px 0;
}

#todo-name{
    width: 60%;
    height: inherit;
    background-color: #75cccc;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

#todo-delete{
    width: 10%;
    height: inherit;
    background-color: rgb(140, 140, 211);
}