#input-container{
  width: 100%;
  height: 200px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-input{
  height: 27%;
  width: 33%;
}

#todo-submit{
  height: 29%;
  width: fit-content;
  font-size: large;
}

#show-todos{
  height: 50%;
  background-color: lightpink;
}

#show-todos{
  display: flex;
  align-items: center;
  flex-direction: column;
}